.navWrapper{
    padding-top: 45px;
}
.am-navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
div,p,ul,li,span,input,img{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
