body,html{
    background-color: #fff;
    height: 100%;
}
#root {
    height: 100%;
}
.login{
    height: 100%;
    background-color: #466B95;
}
.loginInput{
    width: 80%;
    height: 42px;
    border: 1px solid #F2F2F2;
    background-color: transparent;
    margin-bottom: 30px;
    border-radius: 23px;
    color: #ffffff;
    padding-left: 30px;
    font-size: 17px;
    font-weight: lighter;
}
.loginInput::-moz-placeholder{
    color: #ffffff;
    /*padding-left: 10px;*/
}
.loginInput::-ms-input-placeholder{
    color: #fff;
    /*padding-left: 10px;*/
}
.loginInput::-webkit-input-placeholder{
    color: #fff;
    /*padding-left: 10px;*/
}

.loginForm {
    position: absolute;
    text-align: center;
    width:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loginBtn{
    background-color: #F59AD3;
    outline: none;
    border: 1px solid #F59AD3;
    height: 42px;
    border-radius: 23px;
    width: 80%;
    font-size: 17px;
    color: #fff;
    font-weight: lighter;
}
.login-a{
    color: #fff;
}
.login-a:visited{
    color: #fff;
}
